<div class="bg-gray pa2">
  <ul class="list pl0">
    <li><a class="link white" href="https://github.com/Tablescript"><svg class="" height="16px" width="16px"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">Tablescript</span></a></li>
    <li><a class="link white" href="https://twitter.com/tablescript"><svg class="" height="16px" width="16px"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">@tablescript</span></a></li>
    <li><a class="link white" href="/feed.xml"><svg class="" height="16px" width="16px"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg> <span>RSS</span></a></li>
    <li><a class="link white" href="https://tablescript.slack.com"><img class="" height="16px" width="16px" src="/assets/Slack_Mark_Black_Web.png" /> <span class="">Slack</span></a></li>
  </ul>
</div>
