<div class="flex flex-column flex-row-ns justify-between pa2 mt2 bg-gray" role="banner">
  <div class="">
    <h1 class="pt0"><a class="link white" href="/">Tablescript</a></h1>
  </div>
  <div class="flex flex-row pt4 pb0 f6 f5-ns">
    <a class="link pl3 mb0 white" href="/about.html">About</a>
    <a class="link pl3 white" href="/news.html">News</a>
    <a class="link pl3 white" href="/fiddle">Try It Out!</a>
    <a class="link pl3 white" href="https://www.npmjs.com/package/tablescript.js">Download</a>
    <a class="link pl3 white" href="/docs">Docs</a>
  </div>
</div>