<ul class="social-media-list">
  <li><a href="https://github.com/Tablescript"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">Tablescript</span></a></li>
  <li><a href="https://twitter.com/tablescript"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">@tablescript</span></a></li>
  <li><a href="/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg> <span>RSS</span></a></li>
  <li><a href="https://tablescript.slack.com"><img class="svg-icon" src="/assets/Slack_Mark_Black_Web.png" /><span class="">Slack</span></a></li>
</ul>
